recursive-include app/static *
recursive-include app/templates *
recursive-include app/bower_components *
recursive-include Ahab *
recursive-include joth *
include app.wsgi
include app/bower.json
include requirements.txt
include messages.pot
include wsgivenv.py
include run.py
include readme.md
