<nav class="btn-group" data-toggle="buttons-radio">
	
  <button 
		class="btn btn-small btn-primary" 
		title="Summary View" 
		data-view-id="book-summary">
		<i class="glyphicon glyphicon-star glyphicon-white"></i> 
		Summary View
	</button>
	
  <button 
		class="btn btn-small btn-primary" 
		title="Reading View" 
		data-view-id="reading-view">
		<i class="glyphicon glyphicon-book glyphicon-white"></i> 
		Reading View
	</button>
	
  <button 
		class="btn btn-small btn-primary" 
		title="Place Detail" 
		data-view-id="place-view">
		<i class="glyphicon glyphicon-globe glyphicon-white"></i> 
		Place Detail
	</button>
	
	<button 
		class="btn btn-small btn-primary" 
		title="Social Network" 
		data-view-id="social-network-view">
		<i class="glyphicon glyphicon-globe glyphicon-white"></i> 
		Social Network
	</button>
	
</nav>

<a 
	class="permalink btn btn-primary" 
	title="Permalink" href="#">
	<i class="glyphicon glyphicon-bookmark glyphicon-white"></i>
</a>