<h3><%= title %></h3>
<div class="frequency-bars"></div>
<p><!-- http%3A%2F%2Fpleiades.stoa.org%2Fplaces%2F -->
    <span class="frequency"><%= frequency %></span> reference<%= frequency == 1 ? "" : "s" %> | <span class="change-this control on">Report a problem with this record</span> <span class="change-this-divider">|</span> <a href="<%= uri %>" target="_blank">Find out more in the Pleiades Gazetteer</a> | <a href="http://pelagios.dme.ait.ac.at/api/places/<%= encodeURIComponent(uri) %>" target="_blank">Find related documents via Pelagios</a>
</p>
<div></div>
<!-- <ul>
    <li><a href="<%= uri %>" target="_blank">Place page on Pleiades</a></li>
    <li><a href="http://pelagios.dme.ait.ac.at/api/places/http%3A%2F%2Fpleiades.stoa.org%2Fplaces%2F<%= id %>" target="_blank">References in Pelagios</a>
    </li>
</ul> -->
<div class="place-references"></div>