<div class="layout">
    <div class="row">
        <div class="col-md-1 full-height">
            <div class="navigation-view">
            </div>
            <div class="sub-navigation-view">
            </div>
        </div>
        <div class="left-column col-md-5 full-height">
            <div class="left-title">
            </div>
            <div class="left-content">
            </div>
        </div>
        <div class="right-column col-md-6 full-height" >
            <div class="right-content">
            </div>
        </div>
    </div>
</div>